// src/assets/scss/_animatedButton.scss
.animated-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(183, 155, 255, 0.7); // Lavender color with transparency
    color: white;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 0 0 0 rgba(183, 155, 255, 0); // Initial box-shadow set to transparent
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300%;
      height: 300%;
      background-color: rgba(183, 155, 255, 0.3); // Lighter lavender for the ripple effect
      transition: all 0.5s ease;
      display: block;
      transform: translate(-50%, -50%) scale(0);
      border-radius: 50%;
      z-index: 0;
    }
    
    &:hover:before {
      transform: translate(-50%, -50%) scale(1);
    }
  
    &:hover {
      color: #fff;
      background-color: rgba(183, 155, 255, 0.8); // Slightly less transparent on hover
      box-shadow: 0 4px 15px rgba(183, 155, 255, 0.5); // Ambient glow effect
    }
  
    &:active {
      transform: scale(0.95);
    }
  }
  